<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOOD BANK REGISTRATION | Blood Bank Data Management Website</title>
  <link rel="stylesheet" href="../static/donorreg.css">
  <link rel="icon" href="croplogotitle.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <img src="../static/img/logoblend.jpg" alt="DONATION DESK | Blood Bank Data Management Website" width="150px" class="centre">
    </div>
    <nav>
      <ul>
        <li><a href="mainpage">Home</a></li>
      </ul>
    </nav>
    <img src="../static/img/profile-modified.png" width="35px" height="35px">
  </div>
  <div class="layout">
    <form action="/bloodbankregform" method="post">
    <h1>Blood Bank Registration Form</h1>
     <h2>Blood Bank Name</h2>
     <input type="text" name="name" placeholder="Blood Bank Name">

     <h2>Blood Bank Address</h2>
     <textarea name="address" cols="50" rows="5" placeholder="Enter your address"></textarea>
     <br>
    <input type="submit" value="Submit" style="margin-top: 10px;">
    </form>
 </div>
</body>
</html>
