<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DONOR REGISTRATION | DONATION DESK | Blood Bank Data Management Website</title>
  <link rel="stylesheet" href="../static/donorreg.css">
  <link rel="icon" href="croplogotitle.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="../static/img/logo.jpg" alt="DONATION DESK | Blood Bank Data Management Website" width="150px" class="centre">
        </div>
        <nav>
          <ul>
            <li><a class="navback" href="mainpage">Home &#10170;</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="layout">
    <form action="/donorreg" method="post">
    <h1>Donor Registration Form</h1>

     <h2>Name</h2>
     <input type="text" name="name" placeholder="Name">
        
     <h2>Gender</h2>
     <div class="container">
         <ul>
             <li>
                 <input type="radio" id="male" name="gender" value="M">
                 <label for="male">Male</label>
                 <div class="check"></div>
             </li>
             <li>
                 <input type="radio" id="female" name="gender" value="F">
                 <label for="female">Female</label>
                 <div class="check">
                     <div class="inside"></div>
                 </div>
             </li>
         </ul>
     </div>

     <h2>Address</h2>
     <textarea name="address" cols="50" rows="5" placeholder="Enter your address"></textarea>

     <h2>Phone Number</h2>
     <input type="tel" name="phone_number" placeholder="Phone Number">

     <h2>Weight</h2>
     <input type="text" name="weight" placeholder="Weight">

     <h2>Date of Birth</h2>
     <input type="date" name="dob">

     <h2>Select Doctor</h2>
     <select name="docid" id="">
      {% for doc in docs %}
        <option value="{{doc[0]}}">{{doc[1]}}</option>
      {% endfor %}
     </select>
     <div class="btn"><input type="submit" name="button" value="Submit"></div>
    </form>
     
 </div>
</body>
</html>
