<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DONATION DESK | Blood Bank Data Management Website</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="croplogotitle.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
    <div class="navbar">
      <div class="logo">
        <img src="../static/img/logoblend.jpg" alt="DONATION DESK | Blood Bank Data Management Website" width="200px" class="centre">
      </div>
      <nav>
        <ul>
          <li class="active"><a href="mainpage">Home</a></li>
          <li><a href="donor">Donors</a></li>
          <li><a href="bloodbankregister">Blood Banks</a></li>
          <li><a href="hospregister">Hospitals</a></li>
          <li><a href="#">Request</a>
              <div class="sub-menu-1">
                <ul>
                  <li><a href="request">Send Request</a></li>
                  <!-- <li><a href="">View Request</a></li> -->
                  <!-- In progress function View Request-->
                </ul>
              </div>
          </li>
          <li><a href="howtodonate">How to Donate</a></li>
          <li><a href="about">About Us</a>
            <!--<div class="sub-menu-2">
                <ul>
                  <li><a href="">Mission</a></li>
                  <li><a href="">Vision</a></li>
                  <li><a href="">Team</a></li>
                </ul>
              </div>-->
          </li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
      <img src="../static/img/profile-modified.png" width="35px" height="35px">
    </div>
    <div class="container">
    <div class="row">
      <div class="col-2">
        <h1>DONATE BLOOD!!!<br></h1>
        <p>If you're a blood donor,<br> you're a HERO to someone, somewhere,<br> who recieved your Gracious Gift of Life!!!</p>

        <a href="donor" class="btn">Get Started &#10170;</a>
      </div>
      <div class="col-2">
        <img src="../static/img/sideimgr.JPG" width="800px" height="290px">
      </div>
    </div>
  </div><br>
  </div>
  <div class="webchat-intro">
    <p><b>Having some doubts ???</b></p>
    <p><b>Chat with us and we'll be glad to help you !!!</b></p>
</div>
<div class="web">
    <script id="messenger-widget-b" src="https://cdn.botpenguin.com/website-bot.js" defer>661e761396828bc980dd0391,661e76049c209265469759ea</script>
</div>
<!--footer-->
<div class="footer">
  <div class="containerf">
    <div class="row">
      <div class="footer-col-1">
        <br><br>
        <h3>Support our work</h3>
        <p class="foot">We really appreciate your valuable feedback</p>
        <p class="foot">Donation Desk is a Blood donation data <br> management system project
          made by <br> Meet Gudlani <br> BTech CCE Manipal University Jaipur.</p>
        <br>
    </div>
      <div class="footer-col-2">
        <img src="../static/img/logoblackfoot.jpg" alt="DONATION DESK LOGO" width="190px" class="left">
      </div>
      <div class="footer-col-3">
        <a href="contact" class="taken"><h3>Follow Us &#10170;</h3></a>
      </div>
    </div><br>
    <div class="call">
      <img src="../static/img/call.png" width="25px" class="call1"><span>CALL : +91-99999999</span>
    </div><br>
  </div>
</div>
  </body>
</html>
