<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/request.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  
  <div class="container">
    <div class="title">Blood Request for Patient</div>
    <div class="content">
      <form method="POST" action="/request">
        <div class="user-details">
          <div class="input-box">
            Patient Name:
            <input type="text" placeholder="Enter Patient's name" name="name" required>
          </div>
          <br>
          <div class="input-box">
            Enter Required BloodGroup
          <select name="bloodgroup">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="AB">AB</option>
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="AB+">AB+</option>
            <option value="O">O</option>
            <option value="O+">O+</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="AB-">AB-</option>
            <option value="O-">O-</option>
        </select>
      </div>
      <br>

      <div class="input-box">
          Select Patient's Hospital:
          <select name="hospid" id="">
            {% for hosp in hosps %}
              <option value="{{hosp[0]}}">{{hosp[1]}}</option>
            {% endfor %}
           </select>
      </div>
      <br>
        <div class="input-box">
          <span class="details">Select BloodBank</span>
          <select name="bankid" id="">
            {% for bank in banks %}
              <option value="{{bank[0]}}">{{bank[1]}}</option>
            {% endfor %}
           </select>
        </div>
      <br>
          
        <div class="button">
          <input type="submit" value="Send Request">
        </div>
      </div>
      </form>
      <li><a href="mainpage">Home</a></li>
      
  </div>

</body>
</html>
